server {
    listen 8082;
    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    }
    location / {
      allow 81.12.36.200/29;
      allow 209.51.211.241;
      allow 80.210.32.51;
      deny all;
      proxy_pass http://phpmyadmin;
    }
}
